// Màu sắc
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f4f4f4;

// Font
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;