/*  root css */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #fff;
	--white: #ffffff;
	--back: #000;
	--color-text: #fff;
	--back-btn-default: aliceblue;
}

a {
	text-decoration: none;
}

.dad-home-page {
	padding: 1.8rem 3rem;
	min-height: 100vh;
}

/* Customs */
.btn {
	transition: all 0.3s ease;
	user-select: none;
	word-break: break-all;
	white-space: nowrap;
}
.btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
	outline: none;
	border: none;
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
}

input:visited {
	outline: none;
	border: none;
}
input:focus-visible {
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
}


.w-100, .w-full {
	width: 100%;
}
.d-flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}

.align-center {
	align-items: center;
}

.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-stretch {
	justify-content: stretch;
}
.justify-baseline {
	justify-content: baseline;
}
.justify-normal {
	justify-content: normal;
}
