/*  root css */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #fff;
	--white: #ffffff;
	--back: #000;
	--color-text: #fff;
	--back-btn-default: aliceblue;
}

a {
	text-decoration: none;
}

.dad-home-page {
	padding: 1.8rem 3rem;
	min-height: 100vh;
}

/* Customs */
.btn {
	transition: all 0.3s ease;
	user-select: none;
	word-break: break-all;
	white-space: nowrap;
}
.btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
	outline: none;
	border: none;
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
}

input:visited {
	outline: none;
	border: none;
}
input:focus-visible {
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
}

/* Again */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px; /* Thêm padding để tránh dính lề */
}

/* Điểm ngắt theo kích thước màn hình */
@media (max-width: 576px) { .container {max-width: 100%;}}
@media (min-width: 576px) { .container {max-width: 540px;}}
@media (min-width: 768px) { .container {max-width: 720px;}}
@media (min-width: 992px) { .container {max-width: 960px;}}
@media (min-width: 1200px) { .container {max-width: 1140px;}}
@media (min-width: 1400px) { .container {max-width: 1320px;}}
.w-fit {
	width: fit-content;
}
.w-100,
.w-full {
	width: 100%;
}
.h-fit {
	height: fit-content;
}
.d-flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}

.align-center {
	align-items: center;
}

.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-4 {
	margin-bottom: 1rem;
}

.mr-1 {
	margin-right: 0.25rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mr-4 {
	margin-right: 1rem;
}

.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.ml-4 {
	margin-left: 1rem;
}

.pt-1 {
	padding-top: 0.25rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-4 {
	padding-top: 1rem;
}

.pb-1 {
	padding-bottom: 0.25rem;
}
.pb-2 {
	padding-bottom: 0.5rem;
}
.pb-4 {
	padding-bottom: 1rem;
}

.pr-1 {
	padding-right: 0.25rem;
}
.pr-2 {
	padding-right: 0.5rem;
}
.pr-4 {
	padding-right: 1rem;
}

.pl-1 {
	padding-left: 0.25rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pl-4 {
	padding-left: 1rem;
}
/* padding */
.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-stretch {
	justify-content: stretch;
}
.justify-baseline {
	justify-content: baseline;
}
.justify-normal {
	justify-content: normal;
}
