/* Task 3 */
.product-detail-page {
	/* border: 1px solid red; */
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.product-detail-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	/* align-items: stretch; */
	padding: 2% 4%;

	font-style: normal;
	line-height: normal;
	/* font */
	font-family: Poppins;
}

.product-detail-page-wrap {
	margin-top: 4%;
	box-shadow: 0px 24px 28px 9px rgba(179, 193, 217, 0.33);
	border-radius: 1rem;
	height: fit-content;
	background: #fff;
	flex-shrink: 0;
	width: 100%;
	padding: 5.25rem;

	display: grid;
	grid-template-areas: 'image infors';
	grid-template-columns: 1fr 3fr;
	/* grid-template-rows: 1fr 3fr; */
	gap: 2rem;
}

.product-detail-page-image {
	/* border: 1px solid red; */
	grid-area: image;
	background-color: inherit;
}

.product-detail-page-infors {
	grid-area: infors;
	background-color: inherit;
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.endows {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.endow-item {
	border-radius: 20px;
	background: var(--191847, #191847);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: 600;

	padding: 4px 8px;
	display: inline-flex;
	align-items: flex-start;
	gap: 10px;
}

#infors-title {
	color: var(--191847, #191847);
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#original-price {
	color: var(--191847, #191847);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	text-decoration: line-through;
}

#discounted-price {
	color: var(--191847, #191847);
	font-size: 48px;
	font-weight: 700;
}

.product-detail-page #add-cart-direct {
	display: flex;
	padding: 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;

	border: none;
	border-radius: 8px;
	box-shadow: 0px 7px 0px 0px #1c57ee;
	background: #4788e9;

	color: #fff;
	font-size: 18px;
	font-weight: 500;

	cursor: pointer;
	user-select: none;
}

.product-detail-page .actions {
	gap: 2rem;
	flex-wrap: nowrap;
}

.product-detail-page .btn {
	gap: 0.5rem;
}
.in-stock {
	/* border: 1px solid blue; */
	width: 100%;
}
#in-stock-status {
	background-color: #00d98b;
	border-radius: 50%;
	width: 13px;
	height: 13px;
}
.product-detail-page #wishlist-btn,
.product-detail-page #add-cart {
	border-radius: 8px;
	border: 2px solid #c9c9da;
	display: flex;
	padding: 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;

	color: var(--191847, #191847);
	background-color: #fff !important;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product-detail-page .btn {
	border: 1px solid gray;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {
	.product-detail-page-wrap {
		display: grid;
		grid-template-areas:
			'image'
			'infors';
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.product-detail-page-image {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1200px) {
}
