.product-card-page {
	display: flex;
	padding: 8%;
	font-family: Merriweather;
	font-style: normal;
	line-height: normal;

	display: flex;
	flex-direction: column;
}
.product-card-page button:hover {
	user-select: none;
	border: none;
	cursor: pointer;
	opacity: 0.8;
}
.product-card-page a {
	text-decoration: none;
}
/* 1 */
.product-card-page-title {
	color: var(--151-b-32, #151b32);
	font-size: 32px;
	font-weight: 900;
}
/* 2 */
.product-card-page-header {
	margin-top: 24px;
	font-family: Poppins;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.product-card-page-action {
	display: flex;
	gap: 1rem;
}
.product-card-page-search {
	border-radius: 4px;
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	min-width: 327px;
	display: flex;
	position: relative;
}
.product-card-page-search input {
	border-radius: inherit;
	border: inherit;
	padding: 1rem 1rem 1rem 3rem;
	width: 100%;
	border: none;
}
.product-card-page-search:visited {
	outline: none;
	border: none;
}
.product-card-page-search:focus-visible {
	border-color: blue;
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
}
.product-card-page-search:focus-visible {
	outline: 1px solid var(--Neutral-Almost-White, rgba(238, 238, 238, 1));
}

.product-card-page-search > .fa-magnifying-glass {
	color: var(--bfc-8-e-6, #bfc8e5);
	font-size: 20px;
	left: 1rem;
	position: absolute;
}
.product-card-page-nav {
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.product-card-page-nav-item {
	border-radius: 8px;
	padding: 16px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	transition: all 0.3s ease;
	word-wrap: break-word;
	color: var(--151-b-32, #151b32);
}
.product-card-page-nav-item:hover {
	gap: 8px;
	border-radius: 8px;
	background: #849fff;
	color: #fff;
}
.product-card-page-nav a
/* 3 */
.product-list {
	border: 0px solid transparent;
}
.product-list {
	margin-top: 4.25rem;
	width: 100%;
}
.product-list-wrap {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}
.product-card-item {
	box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.7);
	border: 1px solid transparent;
	border-radius: 16px;
	background: #fbfcff;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	gap: 16px;
	transition: all 0.3s ease;
}
.product-card-item:hover {
	box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.7);
	background: #fbfcff;
	cursor: pointer;
	border: 1px solid #bfc8e5;
}
.product-card-item-img {
	border-radius: 97px;
	background: url(<path-to-image>) lightgray -61.055px -68.636px / 207.216%
		259.021% no-repeat;
	width: 97px;
	height: 97px;
	flex-shrink: 0;
}
.product-card-item-img img {
	width: 100%;
	height: 100%;
}
.product-card-item-infos {
	flex: 1;
	color: var(--151-b-32, #151b32);
	font-style: normal;
	line-height: normal;
}
.product-card-item_title {
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 900;
}
.product-card-item-description {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
}
.product-card-item-tags {
	margin-top: 18px;
	gap: 4px;
	display: flex;
	flex-wrap: wrap;
}

.product-card-item-tags__item {
	border: 1px solid var(--bfc-8-e-6, #bfc8e5);
	background: #fff;
	color: #516fd4;
	padding: 0.5rem;
	padding: 2px 8px;
	border-radius: 10px;

	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	cursor: default;
}

